*{
    margin: 0;
    padding: 0;
    /* border: solid 1px black; */
}

body{
    background-color: #FFF1F1;
}

header{
    display: flex;
    justify-content: flex-start;
    padding-top: 2vh;
    background-color: white;
}

ul{
    display: flex;
    list-style-type: none;
    width: 80vw;
    column-gap: 5vw;
    text-align: center;
    align-items: center;
    font-size: 1em;
    justify-content: space-around;
}

/* colocando cada personagem no lugart */

#divCentral{
    display: flex;
    justify-content: space-around;
    column-gap: 6vw;
}

#hubAnimais{
    width: 80vw;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 10vh;
}

/* editando cada personagem */
#divCentral > div {
    height: 60vh;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5vh;
    width: 12vw;
    justify-content: center;
}

#div-choco-cat{
    background-color: white;
}

#div-my-melody{
    background-color: #FFB9D7;
}

#div-pompompurin{
    background-color: #FFF777;
}

#div-badz-maru{
    background-color: #434343;
}