*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    user-select: none;
    background-color: #0B0A0F;
}
body::-webkit-scrollbar{
    display: none;
}

#intro{
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: intro 2s forwards;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #131218;
    color: rgb(233, 233, 233);
}
#divLogo{
    width: 100px;
    height: 50px;
    transform: scale(2);
}
#divPerfil{
    display: flex;
    align-items: center;
}
#imgPerfil{
    width: 25px;
    height: 25px;
    scale: 2;
    margin-right: 30px;
}

main{
    background-color: #0B0A0F;
}

#maisVistos{
    color: whitesmoke;
}
.catalogo{
    margin: 10px;
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 25px;
}
.itemCatalogo{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: #2B2A38;
    padding: 20px;
    border-radius: 10px;
    min-width: 25vw;
    min-height: 200px;
    margin-right: 50px;
    color: white;
    transition: 0.2s ease-in-out;
}
.itemCatalogo:hover{
    outline: solid 1px white;
}
.conteudoItem{
    margin-left: 25px;
}
.acessarFilme{
    margin-top: 25px;
    background-color: red;
    border: solid 1px black;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;

    cursor: pointer;
}
.acessarFilme:hover{
    color: white;
}

#recomendados{
    color: whitesmoke;
}
.faixada{
    margin-left: 30px;
    padding-top: 10px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #0B0A0F;
    color: rgba(255, 255, 255, 0.399);
    font-size: 80%;
    height: 30px;
}



@keyframes intro{
    0%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}